@font-face {
  font-family: Wavy;
  src: url("./assets/BlueOcean-YzBDa.otf");
}
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;700;800&display=swap");

/* GENERAL STYLES */
body {
  color: #ffffff;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 16px;
  position: relative;
}

h2,
h3 {
  color: #354550;
  font-weight: 700;
  text-align: center;
  text-transform: lowercase;
}

h2 {
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 15px;
  margin: 3rem 0 0;
  padding-bottom: 1.5rem;
}

h3 {
  letter-spacing: 8px;
  font-size: 21px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 2rem;
}

ul {
  color: black;
  font-weight: 300;
  padding-bottom: 2rem;
  line-height: 1.5;
}

li {
  margin-bottom: 1rem;
}

/* HEADER COMPONENT*/
.Header {
  height: inherit;
}

.HeaderCancel {
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 10px;
  width: 20px;
}

.HeaderIcon {
  position: absolute;
  cursor: pointer;
  width: 25px;
  right: 15px;
  top: 15px;
}

@keyframes slide {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.HeaderWrapper {
  animation: slide 0.5s ease-out;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: column;
  height: 80%;
  padding: 6rem 0 3rem;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 10;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.HeaderWrapper a {
  animation: fadeIn 2s;
  color: black;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 10px;
  padding: 10px 40px;
  margin-bottom: 3rem;
  text-decoration: none;
  text-transform: lowercase;
}

/* HERO PAGE*/

.HeroSection {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.HeroTitle {
  color: #ffffff;
  font-family: "Wavy";
  font-size: 2rem;
  transform: scale(1.5, 3);
}

.HeroWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  margin: 0 auto;
}

.hidden {
  display: none;
}

/* OVERVIEW PAGE */

.OverviewSection,
.StatSection,
.FilterSection {
  padding: 2rem 0 0;
}

.OverviewFoot {
  color: black;
  font-weight: 300;
  font-size: 13px;
  margin-top: 3rem;
  margin-left: 1rem;
}

.TimelineSection {
  margin-top: 3rem;
  width: 100%;
}

.TimelineContainer {
  position: relative;
  background: inherit;
  width: 50%;
}

.TimelineContainer.left {
  left: 0;
}

.TimelineContainer.right {
  left: 50%;
}

.TimelineContainer::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -10px;
  background: #ffffff;
  border: 2px solid #35455d;
  border-radius: 16px;
  z-index: 1;
}

.TimelineContainer.right::after {
  left: -8px;
}

.TimelineContainer .TimelineDate {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #35455d;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.TimelineContainer.left:first-child .TimelineDate {
  right: -55px;
}

.TimelineContainer.left .TimelineDate {
  right: -85px;
}

.TimelineContainer.right .TimelineDate {
  left: -85px;
}

.TimelineContainer .TimelineContent {
  padding: 30px 50px 30px 15px;
  background: #f2c6b1;
  position: relative;
  border-radius: 0 500px 500px 0;
}

.TimelineContainer.right .TimelineContent {
  padding: 30px 15px 30px 50px;
  border-radius: 500px 0 0 500px;
}

.TimelineContainer .TimelineContent h2 {
  margin: 0 0 10px 0;
  font-size: 19px;
  font-weight: 500;
}

.TimelineContainer .TimelineContent p {
  margin: 0;
  font-size: 16px;
  font-weight: 40;
  line-height: 26px;
  color: #000000;
}

.TimelineWrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.TimelineWrapper::after {
  content: "";
  position: absolute;
  width: 2px;
  background: #35455d;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

/* STATISTICS PAGE */

.StatHeader,
.StatHeader2 {
  color: black;
  font-size: 19px;
  font-weight: 400;
  text-decoration: underline;
  letter-spacing: 4px;
  margin: 3rem auto 0;
  width: fit-content;
}

.StatTitle {
  color: black;
  font-weight: 300;
  text-transform: lowercase;
  letter-spacing: 3px;
  margin: 0 auto 1rem;
  width: fit-content;
}

.StatDescription {
  color: black;
  font-weight: 300;
  padding: 0 2rem 1rem;
}

.StatTitle,
.StatDescription {
  line-height: 1.5;
}

.StatWrapper,
.StatWrapper2 {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 3rem 0;
  padding: 0 2rem;
}

.StatWrapper {
  margin-bottom: 6rem;
}

.StatDoughnut {
  max-width: 500px;
  min-width: 300px;
}

.StatDoughnut {
  margin: 0 auto;
}

.FilterHeader,
.FirstFilterHeader {
  margin-top: 2rem;
  text-decoration: underline;
}

.FilterItem {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 2rem;
}

.FilterOverlay {
  display: flex;
  justify-content: center;
  bottom: 0;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
  transition: 0.5s ease;
  opacity: 0;
}

.FilterOverlay:hover {
  opacity: 1;
}

.FilterDescription {
  color: black;
  font-weight: 300;
  margin-top: 3rem;
  margin-left: 2rem;
  width: calc(100% - 4rem);
}

.FilterListHeader {
  color: black;
  text-decoration: underline;
  font-weight: 400;
  margin-left: 2rem;
  width: calc(100% - 4rem);
}

.FilterList {
  margin-left: 2rem;
  margin-bottom: 0;
}

.FilterImg {
  height: 450px;
}

.FilterDetailsRow {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  width: 100%;
}

.QRCode {
  align-self: center;
  width: 200px;
}

@media screen and (min-width: 600px) {
  @keyframes slide {
    0% {
      width: 0%;
    }

    100% {
      width: 40%;
    }
  }

  .HeaderWrapper {
    width: 40%;
  }

  .HeroTitle {
    font-size: 2.8rem;
  }

  .StatWrapper,
  .StatWrapper2 {
    display: grid;
    column-gap: 100px;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 3rem;
    justify-content: space-evenly;
    margin-top: 4rem;
  }

  .StatQuestion {
    margin: 4rem auto 0;
    line-height: 2;
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 18px;
  }

  ul {
    padding-left: 5rem;
    padding-bottom: 2rem;
  }

  h2 {
    border: 5px dotted #ffc0cb;
    margin-left: 4rem;
    margin-bottom: 3rem;
    text-align: left;
    width: min-content;
    padding: 10px;
  }

  @keyframes slide {
    0% {
      width: 0%;
    }

    100% {
      width: 20%;
    }
  }

  .HeaderWrapper {
    height: 80%;
    width: 20%;
  }

  .HeroWrapper {
    display: grid;
    height: auto;
    column-gap: 200px;
    row-gap: 100px;
    grid-template-columns: repeat(2, 1fr);
    transform: scale(1.2, 1.5);
    margin-top: 2rem;
  }

  .HeroTitle {
    font-size: 3.4rem;
    margin: 0;
  }

  .TimelineContainer {
    padding-left: 100px;
    padding-bottom: 20px;
    width: 92%;
  }

  .TimelineContainer.right {
    left: 0%;
  }

  .TimelineContainer.left::after,
  .TimelineContainer.right::after {
    left: 50px;
  }

  .TimelineContainer.left:first-child .TimelineDate {
    right: auto;
    left: 5px;
  }

  .TimelineContainer.left .TimelineDate,
  .TimelineContainer.right .TimelineDate {
    right: auto;
    left: -30px;
  }

  .TimelineContainer.left .TimelineContent,
  .TimelineContainer.right .TimelineContent {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }

  .TimelineContainer .TimelineContent h2 {
    font-size: 21px;
  }

  .TimelineWrapper {
    margin-left: 3rem;
    width: calc(100% - 3rem);
  }

  .TimelineWrapper::after {
    left: 60px;
  }

  .StatHeader2 {
    margin: 4rem auto;
  }

  .StatTitle {
    font-size: 17px;
  }

  .StatTitle,
  .StatDescription {
    line-height: 1.8;
  }

  .StatDescription {
    padding: 0 4rem;
  }

  .StatWrapper,
  .StatWrapper2 {
    column-gap: 120px;
    row-gap: 100px;
    margin: 4rem auto;
    width: 90%;
  }

  .StatDoughnut {
    width: 400px;
  }

  .FilterHeader {
    margin-top: 5rem;
  }

  .FilterDescription {
    margin-left: 4rem;
    margin-bottom: 3rem;
    line-height: 2;
    width: calc(100% - 8rem);
  }

  .FilterListHeader {
    font-size: 20px;
    margin-left: 4rem;
  }

  .FilterList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 4rem;
    width: 100%;
  }

  .FilterWrapper {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .FilterImg {
    max-height: 500px;
  }

  .OverviewFoot p {
    font-size: 14px !important;
    line-height: normal !important;
  }

  .FilterDetailsRow {
    flex-direction: row;
    justify-content: space-between;
  }

  .QRCode {
    margin-right: 15rem;
    width: 230px;
  }
}
