@font-face {
  font-family: Wavy;
  src: url("./assets/BlueOcean-YzBDa.otf");
}
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;700;800&display=swap");

body {
  color: #ffffff;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 16px;
}

h2 {
  color: #354550;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 7px;
  margin: 3rem 0;
  padding-bottom: 1.5rem;
  text-align: center;
  text-transform: lowercase;
}

.Hero-section {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.Hero-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.Hero-title {
  color: #ffffff;
  font-family: "Wavy";
  font-size: 2rem;
  line-height: 3.8;
  transform: scale(1.5, 3);
}

.Overview-section {
  padding: 2rem 0;
}

.timeline-section {
  width: 100%;
}

.timeline {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background: #006e51;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container {
  position: relative;
  background: inherit;
  width: 50%;
}

.container.left {
  left: 0;
}

.container.right {
  left: 50%;
}

.container::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -10px;
  background: #ffffff;
  border: 2px solid #006e51;
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -8px;
}

.container::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #006e51;
  z-index: 1;
}

.container.right::before {
  left: 8px;
}

.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #006e51;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container.left:first-child .date {
  right: -55px;
}

.container.left .date {
  right: -85px;
}

.container.right .date {
  left: -85px;
}

.container .content {
  padding: 30px 50px 30px 15px;
  background: #f1c5ae;
  position: relative;
  border-radius: 0 500px 500px 0;
}

.container.right .content {
  padding: 30px 15px 30px 50px;
  border-radius: 500px 0 0 500px;
}

.container .content h2 {
  margin: 0 0 10px 0;
  font-size: 19px;
  font-weight: 500;
}

.container .content p {
  margin: 0;
  font-size: 16px;
  font-weight: 40;
  line-height: 26px;
  color: #000000;
}

.Stat-section {
  padding: 0 20px;
  margin-bottom: 2rem;
}

.Carousel {
  position: relative;
}

.Carousel-slide {
  margin: 0 auto;
  width: 80%;
}

.Carousel-title {
  color: black;
  font-size: 19px;
  font-weight: 500;
  margin: 0 auto 2rem;
  width: fit-content;
}

.Carousel-nav button {
  background: none;
  border: none;
  bottom: 30%;
  cursor: pointer;
  font-size: 30px;
  position: absolute;
}

.next {
  right: 0;
}

.Stat-slideshow {
  position: relative;
}

@media screen and (min-width: 600px) {
  .Hero-title {
    font-size: 2.8rem;
  }

  .Carousel-slide {
    width: 70%;
  }

  .Carousel-nav button {
    bottom: 40%;
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }

  .Hero-wrapper {
    display: grid;
    column-gap: 100px;
    grid-template-columns: repeat(2, 1fr);
    transform: scale(1.6, 1.95);
    margin-top: 2rem;
  }

  .Hero-title {
    font-size: 3rem;
    margin: 0;
  }

  .timeline {
    margin-left: 3rem;
    width: calc(100% - 3rem);
  }

  .timeline::after {
    left: 80px;
  }

  .container {
    padding-left: 120px;
    padding-bottom: 20px;
    width: 90%;
  }

  .container.right {
    left: 0%;
  }

  .container.left::after,
  .container.right::after {
    left: 70px;
  }

  .container.left::before,
  .container.right::before {
    left: 70px;
    border-color: transparent #006e51 transparent transparent;
  }

  .container.left:first-child .date {
    right: auto;
    left: 25px;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: -10px;
  }

  .container.left .content,
  .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }

  .container .content h2 {
    font-size: 21px;
  }

  .Carousel-slide {
    margin: 0 auto;
    width: 50%;
  }
}
